.smallfont {
  font-size: 12px;
  font-weight: bold;
}
.mediumfont {
  font-size: 13px;
  font-weight: bold;
}

.bgcolor1 {
  background-color: #13284B;
  color: white;
}

.bgcolor2 {
  background-color: #FCFFF6;
  color: #00558C;
}

.bgcolor3 {
  background-color: #EBF9FA;
  color: #00558C;
}

.txcolor1 {
  color:#31A1AC;
}
